body {
  @include responsive("medium") {
    background-color: $background;
    padding: 10% 0;
  }
  @include responsive("large") {
    background-color: $background;
    padding: 10% 0;
  }
  .content {
    background-color: $content;
    @include responsive("medium") {
      padding: 3%;
    }
    @include responsive("large") {
      width: 50%;
      margin: auto;
      padding: 3%;
      border-radius: 15px;
    }
    header {
      img {
        width: 100%;
        height: auto;
        @include responsive("medium") {
          border-radius: 15px;
        }
        @include responsive("large") {
          border-radius: 15px;
        }
      }
    }
    main {
      margin: 5%;
      @include responsive("medium") {
        margin: 0;
      }
      @include responsive("large") {
        margin: 0;
      }
      h1 {
        color: $mainTitle;
        font-family: "Young Serif", serif;
        font-weight: 400;
        @include responsive("large") {
          font-size: 40px;
        }
      }
      p {
        @include paragraph;
        line-height: 22px;
      }
      aside {
        border-radius: 15px;
        background-color: $asideBackground;
        padding: 5px 20px;
        @include responsive("medium") {
          margin: 5% 0;
        }
        @include responsive("large") {
          margin: 5% 0;
        }
        .aside_title {
        }
        ul {
          padding-left: 20px;
          li {
            list-style-type: disc;
            padding: 5px 15px;
            @include paragraph;
            &::marker {
              color: $asideText;
            }
          }
        }
      }
      article {
        section {
          &:not(:last-child):after {
            @include separator;
            margin: 25px 0;
          }
          .section_title {
          }
          ul {
            padding-left: 20px;
            li {
              list-style-type: disc;
              padding: 5px 15px;
              @include paragraph;
              &::marker {
                color: $sectionText;
              }
            }
          }
        }
        section {
          .section_title {
          }
          ol {
            padding-left: 20px;
            li {
              padding: 5px 15px;
              list-style-type: decimal;
              line-height: 22px;
              @include paragraph;
              &::marker {
                color: $sectionText;
                font-weight: bold;
              }
            }
          }
        }
        section {
          .section_title {
          }
          table {
            border-collapse: collapse;
            width: 100%;
            tbody {
              tr:not(:last-child) {
                border-bottom: 1px solid $separator;
              }
              td {
                @include paragraph;
                padding: 10px 30px;
              }
            }
          }
        }
      }
    }
    .attribution {
      display: none;
      margin: 5%;
      @include paragraph;
      font-size: small;
    }
  }
}
